
form {
  max-width: 400px;
  margin-top: 200px;
  margin-left: 35%;
  padding: 20px;
  background-color: #0e0e0e18;
  border-radius: 10px;
  box-shadow: 5px 20px 50px rgba(109, 107, 107, 5);
  text-align: center;
  color: white;
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}


.imagen-opciones {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.opcion-imagen {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
}

.opcion-imagen:hover {
  transform: scale(1.1);
}

.opcion-imagen.seleccionada {
  border-color: #007bff;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}


input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
  outline: none;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"]:hover:not(:disabled) {
  background-color: #218838;
}

.volver {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px; 
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  .flecha-imagen {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
  }
}
