<form [formGroup]="perfilForm" (ngSubmit)="onSubmit()" >
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" placeholder="Ingresa tu nombre" />
  </div>

  <div>
    <label for="imagen">Selecciona una imagen:</label>
    <div class="imagen-opciones">
      <div *ngFor="let img of imagenes; let i = index">
        <img [src]="img" [alt]="'Imagen ' + (i + 1)" (click)="seleccionarImagen(i)" 
             [class.seleccionada]="imagenSeleccionada === i" class="opcion-imagen"/>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="perfilForm.invalid">Guardar</button>
</form>


<button (click)="routacion('menu')" class="volver">
  <img src="images/flechaVolverb.png" alt="Volver" class="flecha-imagen">
</button>
