<div class="principal">  	
  <input type="checkbox" id="chk" aria-hidden="true">

    <div class="registro">
      <form>
        <label for="chk" aria-hidden="true">Registrarse</label>
        <input type="nombre" name="txt" placeholder="Nombre de usuario" required="">
        <input type="email" name="email" placeholder="Correo electrónico" required="">
        <input type="numero" name="num" placeholder="Número de teléfono" required="">
        <input type="contraseña" name="contra" placeholder="Contraseña" required="">
        <button>Registrarse</button>
      </form>
    </div>

    <div class="iniciar-sesion">
      <form>
        <label for="chk" aria-hidden="true">Iniciar sesión</label>
        <input type="email" name="email" placeholder="Correo electrónico" required="">
        <input type="contraseña" name="contra" placeholder="Contraseña" required="">
        <button>Iniciar sesión</button>
      </form>
    </div>
</div>
