
<!-- <h1>Registro de usuario</h1>
    <form action="login.php" method="post">
        <label>Nombre: </label>
        <input type="text" id="nombre" name="nombre" required><br>
        <label>Password: </label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Registrarme</button>
    </form>
    <button (click)="routacion('menu')" class="volver">
      <img src="images/flechaVolverb.png" alt="Volver" class="flecha-imagen">
    </button>
    <button (click)="routacion('register')">
      <img src="images/avatar1.png" alt="Registro">
    </button> -->


<div class="principal">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="registro">
    <form (ngSubmit)="enviar()">
      <label for="chk" aria-hidden="true">Registrarse</label>
      <input type="text" name="nombre" placeholder="Nombre de usuario" required>
      <input type="email" name="email" placeholder="Correo electrónico" required>
      <div class="password-container">
        <input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Contraseña" required>
        <button type="button" class="mosOc" (click)="togglePasswordVisibility('register')">
          {{ showPassword ? 'Ocultar' : 'Mostrar' }}
        </button>
      </div>
      <button class="inicio" type="submit">Registrarse</button>
    </form>
  </div>

  <div class="iniciar-sesion">
    <form>
      <label for="chk" aria-hidden="true">Iniciar sesión</label>
      <input type="email" name="email" placeholder="Correo electrónico" required>
      <div class="password-container">
        <input [type]="showLoginPassword ? 'text' : 'password'" name="password" placeholder="Contraseña" required>
        <button type="button" class="mosOc2" (click)="togglePasswordVisibility('login')">
          {{ showLoginPassword ? 'Ocultar' : 'Mostrar' }}
        </button>
      </div>
      <button class="inicio" (click)="routacion('menu')">Iniciar sesión</button>
    </form>
  </div>
</div>

<button (click)="routacion('menu')" class="volver">
  <img src="images/flechaVolverb.png" alt="Volver" class="flecha-imagen">
</button>
