.volver{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(194, 16, 164);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s;
}
.volver:hover{
    background-color: rgb(164, 6, 138);;
    transform: translateY(-2px);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center; 
  }
  
  h2 {
    font-size: 48px;
  }
  