body{
    background-color: rgb(68, 68, 68);
  background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
