body{
    background-color: rgb(68, 68, 68);
    background-image: url(https://cdn-6.motorsport.com/images/mgl/0ZRQbbN0/s8/fernando-alonso-aston-martin-r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
