<div class="menu-container">
  <button class="profile-button" (click)="routacion('perfil')">Perfil</button>
  <button class="profile-button2" (click)="routacion('login')">Login</button>

  <div class="otraOpcion">
    <button (click)="routacion('partida')"><h1>Nueva partida</h1></button>
    <button (click)="routacion('cargar-partida')"><h3>Cargar partida</h3></button>
    <button (click)="routacion('informacion')">Información</button>
    <button (click)="routacion('ranking')">Ranking</button>
    <button (click)="routacion('autores')">Autores</button>
    <button (click)="routacion('versiones')">Versiones</button>
  </div>

</div>
