<div class="menu-container">
  <button class="profile-button" (click)="routacion('login')">Perfil</button>

  <div class="menu-buttons">
    <button (click)="routacion('partida')">Nueva partida</button>
    <button (click)="routacion('cargar-partida')">Cargar partida</button>
    <button (click)="routacion('informacion')">Información</button>
    <button (click)="routacion('ranking')">Ranking</button>
    <button (click)="routacion('autores')">Autores</button>
    <button (click)="routacion('versiones')">Versiones</button>
  </div>
</div>
