$primary-color: #a049c6;
$primary-hover-color: #9c40af;
$secondary-color: #3e9c91;
$secondary-hover-color: #287e77;
$button-padding: 12px;
$button-font-size: 18px;
$button-border-radius: 8px;
$button-shadow: 5px 6px 10px rgba(255, 255, 255, 0.347);

$otroColor: #ffffff;
$otroColorHover: #2bf8e0;

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;

  .otraOpcion-y-tierra {
    display: flex; 
    align-items: center; 
    gap: 20px;
    width: 100%; 
    justify-content: center; 

    .otraOpcion {
      display: flex;
      flex-direction: column; 
      align-items: flex-start; 
      gap: 10px; 
      width: auto; 
      padding: 0; 
      margin: 0; 
      background: none; 
      border: none; 
      box-shadow: none;

      button {
        all: unset; 
        font-size: 16px; 
        font-weight: bold;
        color: $otroColor; 
        cursor: pointer; 
        margin-left: 0;

        &:hover {
          color: $otroColorHover; 
          text-decoration: underline; 
          transform: translateY(-2px);   
          transform: scale(1.05);
        }
      }
    }

    .tierraGira {
      img {
        height: auto;
        width: 77.77%; 
        object-fit: contain; 
      }
    }
  }
}


  .profile-button {
    position: absolute;
    top: 2%;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: $secondary-color;
    color: #ffffff;
    border: none;
    border-radius: $button-border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: $button-shadow;

    &:hover {
      background-color: $secondary-hover-color;
      transform: translateY(-2px);
    }
  }

  .profile-button2 {
    position: absolute;
    top: 8%;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: $secondary-color;
    color: #ffffff;
    border: none;
    border-radius: $button-border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: $button-shadow;

    &:hover {
      background-color: $secondary-hover-color;
      transform: translateY(-2px);
    } 
  }
