.partida-container {
  position: relative;
  user-select: none;  //ESTO HAY Q QUITARLO LUEGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO (hace q no se pueda hacer click)
}

.map-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  background-color: rgb(139, 228, 255);
}

.map-image {
  width: 100%;
  height: auto;
}

.punto {
  position: absolute;
  transform: translate(-50%, -50%);
  border-color: rgba(201, 193, 171, 0.603);
  border-radius: 2%;
  color: rgb(0, 0, 0);
  padding: 2px 4px;
  border-radius: 50%;
  font-size: 0.8em;
  text-align: center;
}




.volver{
  position: absolute;
  top: 92%;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(194, 16, 164);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s;
}
.volver:hover{
  background-color: rgb(164, 6, 138);;
  transform: translateY(-2px);
}



