<div class="partida-container">
  <div class="map-container">
    <img src="images/mapa.png" alt="Mapa del mundo" class="map-image" />
    <div *ngFor="let punto of puntos" class="punto" [style.left.px]="punto.x" [style.top.px]="punto.y">
      <button class="boton-punto" 
              [ngClass]="getColorClass(punto.enfermedades)" 
              (click)="onPuntoClick(punto)">
      </button>
      <span class="nombre-ciudad">{{ punto.ciudad }}</span>
    </div>
  </div>
  <button (click)="routacion('menu')" class="volver">
    <img src="images/flechaVolver.png" alt="Volver" class="flecha-imagen">
  </button>

  <div *ngIf="ciudadSeleccionada" class="info-ciudad">
    <button class="cerrar" (click)="cerrarInfo()">Cerrar</button>
    <h3>{{ ciudadSeleccionada.ciudad }}</h3>
    <p *ngFor="let enfermedad of ciudadSeleccionada.enfermedades">
      {{ enfermedad.nombre }}: Nivel {{ enfermedad.nivel }}
    </p>
  </div>

  <div class="overlay" *ngIf="!haSidoClicado"></div>
  <button (click)="pasarDeRonda()" [ngClass]="{'mover-boton': haSidoClicado}" class="pasar-ronda">
    {{ textoBoton }}
  </button>

  <div class="consola">
    <h3>Consola de Mensajes</h3>
    <ul>
      <li *ngFor="let mensaje of consolaMensajes">{{ mensaje }}</li>
    </ul>
  </div>
  
</div>