<div class="partida-container" (wheel)="hacerZoom($event)">
  
  <!-- Contenedor del Mapa con Zoom -->
  <div class="map-container" 
       [ngStyle]="{'transform': 'scale(' + escala + ')', 'transform-origin': transformOrigin}">

    <svg class="lineas-conexiones">
      <line *ngFor="let linea of lineas" 
            [attr.x1]="linea.x1" [attr.y1]="linea.y1" 
            [attr.x2]="linea.x2" [attr.y2]="linea.y2" 
            class="linea"/>
    </svg>

    <img src="images/mapa.png" alt="Mapa del mundo" class="map-image"/>

    <div *ngFor="let punto of puntos" class="punto" 
         [style.left.px]="punto.x" [style.top.px]="punto.y">
      <button class="boton-punto" 
              [ngClass]="getColorClass(punto.enfermedades)" 
              (click)="onPuntoClick(punto)">
      </button>
      <span class="nombre-ciudad">{{ punto.ciudad }}</span>
    </div>
  </div>

  <!-- Botón de Volver -->
  <button (click)="routacion('menu')" class="volver">
    <img src="images/flechaVolver.png" alt="Volver" class="flecha-imagen">
  </button>

  <!-- Información de la Ciudad Seleccionada -->
  <div *ngIf="ciudadSeleccionada" class="info-ciudad">
    <button class="cerrar" (click)="cerrarInfo()">Cerrar</button>
    <h3>{{ ciudadSeleccionada.ciudad }}</h3>
    <p *ngFor="let enfermedad of ciudadSeleccionada.enfermedades">
        {{ enfermedad.nombre }}: Nivel {{ enfermedad.nivel }}
        <button *ngIf="curacionesDisponibles > 0 && enfermedad.nivel > 0" 
                class="curar-button"
                (click)="curarEnfermedad(ciudadSeleccionada, enfermedad)">
          Curar
        </button> 
        <button *ngIf="vacunaDesarrollada(enfermedad)" 
                class="vacunar-button"
                (click)="vacunarEnfermedad(ciudadSeleccionada, enfermedad)">
          Vacunar
        </button>
    </p>
  </div>

  <!-- Overlay para Bloquear Acciones Iniciales -->
  <div class="overlay" *ngIf="!haSidoClicado"></div>

  <!-- Botón para Pasar de Ronda -->
  <button (click)="pasarDeRonda()" [ngClass]="{'mover-boton': haSidoClicado}" class="pasar-ronda">
    {{ textoBoton }}
  </button>

  <!-- Consola de Mensajes -->
  <div class="consola">
    <h4>Consola de Mensajes</h4>
    <ul>
      <li *ngFor="let mensaje of consolaMensajes">{{ mensaje }}</li>
    </ul>
  </div>

  <!-- Sección de Curaciones -->
  <div class="curaciones">
    <h4>Curaciones Disponibles: {{ curacionesDisponibles }}</h4>
  </div>
  
  <!-- Sección de Vacunas -->
  <div class="vacunas">
    <h4>Vacunas</h4>
    <div *ngFor="let vacuna of vacunas; let i = index">
      <button class="desarrollar-button" (click)="desarrollarVacuna(i)">Desarrollar {{ vacuna.nombre }}</button>
    </div>
  </div>

</div>
