.partida-container {
    position: relative;
  }
  
  .map-container {
    position: relative;
    width: 100%; 
    height: 600px; 
    //Hay que cambiarlo para que el mapa cuadre
  }
  
  .map-image {
    width: 100%;
    height: auto;
  }
  
  .cities {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .ciudad {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #333;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 12px;
  }
  